:root .ebi {
  --r-main-font: Arial, sans-serif;
  --r-heading-font: Arial, sans-serif;
  --r-heading-font-weight: bold;

  --r-link-color: #2a57a3;
  --r-main-font-size: 25px;
  --r-heading1-size: 2em;
  --r-heading2-size: 1.5em;
  --r-heading3-size: 1.2em;
  --r-heading4-size: 1em;
}

/* Opening slide */
.ebi .slide-background.main-title.present {
  background-image: radial-gradient(
      circle at 0,
      #01633a,
      #017c41 80%,
      transparent
    ),
    linear-gradient(to bottom, #017c41 65vh, white 35vh),
    radial-gradient(
      circle at -25vh,
      #017c41,
      #017c41 50vh,
      #017c41aa 50vh,
      #017c41aa 55vh,
      transparent 55vh,
      transparent 55vh
    ),
    url("images/building.jpg"), url("images/EBI_logo.png");
  background-position: left top, left top, 50vw top, right top, 95% 100%;
  background-size: 60vw 65vh, 51vw, auto 65vh, auto 65vh, auto 8vh;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}

.ebi .slides .main-title {
  height: 100%;
  display: flex !important;
  flex-direction: column;
}
.ebi .main-title header {
  flex-grow: 2;
  text-align: left;
  padding-top: 1em;
  height: 60%;
}
.ebi .main-title .presentation-info {
  text-align: left;
  flex-grow: 1;
}

.ebi .main-title header h1,
.ebi .main-title header h2 {
  color: white;
}

/* Other Slides */
.ebi .slide-background:not(.main-title) {
  background-image: url("images/EBI_logo.png");
  background-position: 95% 99%;
  background-size: auto 8%;
  background-repeat: no-repeat;
}
.ebi .slides > section:not(.main-title) {
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    white 0,
    white 12%,
    #f2f2f2 12%,
    #f2f2f2 90%,
    transparent 10%
  );
  background-position: left top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.ebi section:not(.main-title) header {
  height: 12%;
}
.ebi section:not(.main-title) .content {
  max-height: 80%;
  text-align: left;
  padding: 1em;
}
